@import 'tailwindcss';

* {
    font-family: 'Manrope', sans-serif;
}

@theme {
    --animate-bounce bounce 2s infinite @keyframes bounce {
        0&,
        100% {
            transform: translateY(-75%);
            animation-timing-function: ease-out;
        }
        ,
        50% {
            transform: translateY(2px);
            animation-timing-function: ease-out;
        }
    }
}
@custom-variant dark (&:where(.dark, .dark *));
